.treeView {
}

.gameDiv {
    background-color: white;
    transition: all .12s;
    z-index: 2;
    text-align: center;
    opacity: 0.8;
    border: 0.1em solid rgb(105, 63, 149);
    position: fixed;
    padding: 0.2em;
    border-radius: 15px;
    box-shadow: none;
    white-space: pre-wrap;
    font-size: 3vh;

    color: #00a9ff;
}

.player1 {
    color: #00a9ff;
}

.player2 {
    color: darkmagenta;
}

.player3 {
    color: red;
}

.player4 {
    color: yellow;
}

