Objects_Classes/.idea
=======
# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Linux template
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
open

public/image/small.jpg
package-lock.json
node_modules
.idea

node-js-getting-git started
/documentation/


/develop/main/image/galaxy.jpg
/develop/main/image/galaxy2.jpg
/develop/main/image/galaxy4.jpg
/develop/main/image/galaxy3.jpg
/test/
/public/serviceWorker.js
/public/serviceWorker.js.map
/public/application.js

/public/loading.js.map
/public/loading.js
/public/application.js.map
/public/botWorker.js.map
/public/botWorker.js
/public/gameWorker.js
/public/application.css
/public/application.css.map

/.vscode/
Будет удалено .vscode/
Будет удалено develop/main/image/
Будет удалено develop/main/views/gamePrepareView/__fields/__startButton/
/public/gameWorker.js.map
Будет удалено .travis.yml
/guardians-game
Будет удалено guardians-game
Будет удалено guardians-game.enc
Будет удалено guardians-game.pub

/guardians-game.pub
/nginx.conf.txt
/nginxConf.txt
/public/audioWorker.js
/public/audioWorker.js.map

