language: node_js
node_js:
  - 8

script:
- eval "$(ssh-agent -s)"
- ssh-keyscan -H $195.133.147.209 >> ~/.ssh/known_hosts
- chmod 600 $HOME/.ssh/guardians-game
- ssh-add $HOME/.ssh/technopark
- npm run start
- scp -r ./dist root@$195.133.147.209:/var/www
before_install:
- openssl aes-256-cbc -K $encrypted_cff8668a0280_key -iv $encrypted_cff8668a0280_iv
  -in guardians-game.enc -out $HOME/.ssh/guardians-game -d