form(class="messengerView__inputField__form")
    div(class="messengerView__inputField__form__input__text__container")
        textarea(class="messengerView__inputField__form__input__text", rows="3", cols="40", placeholder="Enter message...")
    div(class="messengerView__inputField__form__input__button__container")
        input(class="messengerView__inputField__form__input__button", type="submit", value="submit")
