body, html {
    height: 100%;
}

td {
    width: 38px;
    height: 38px;
    background: red;
    margin: 0px;
}

.div_menu {
    display: inline-block;
    margin: 0.4%;
    height: 13%;
}

.div0 {
    width: 80%;
    height: 95%;
    margin: auto;
    background-color: lightsteelblue;
}

.div1 {
    background-color: khaki;
    width: 19%;
    float: left;
}

.div2 {
    background-color: bisque;
    width: 49%;
}

.div3 {
    background-color: aquamarine;
    width: 29%;
}

.button1 {
    width: 100%;
    height: 75%;
    margin: 4px 0px;
}

.div_b {
    width: 50%;
    height: 50%;
    margin: auto;
}

.div_map {
    display: inline-block;
    width: 75%;
    height: 82%;
    margin: 0.4%;
}

.div_inf {
    display: inline-block;
    width: 22%;
    height: 82%;
    background-color: greenyellow;
    margin: 0.4%;
}
