.lobbyView__gameCreateView__fields {
    font-family: RobotoRegular;
    margin: 1em auto !important;
    padding: 0.1em 0.4em;
    color: white;
}

.lobbyView__gameCreateView__fields__header {
    color: #ff8700;
    text-align: center;
    font-family: Road_Rage !important;
}

.lobbyView__gameCreateView__fields__playButton {
    display: block;
    box-sizing: border-box;
    color: #00d8ff;
    width: 100px !important;
    border-radius: 0.4em!important;
    margin-bottom: 0.4em;
    opacity: 1 !important;
    transition: transform 0.1s ease !important;
}

.lobbyView__gameCreateView__fields__playButton:hover {
    /*transform: scale(1.05) !important;*/
    background-color: #1d1f20;
    color: #00fbff !important;
    border-color: #00fbff !important;
}

.lobbyView__gameCreateView__fields__playButton:focus {
    outline: none;
    color: #00a9ff !important;
    border-color: #00a9ff !important;
}


