.gamePrepareView__fields__playersList {
    background-color: #1d1f20;
    border-radius: 0.5em;
    overflow: auto;
    height: 30vh;
    width: 30vw;
    margin: 0.2em;
}

@media screen and (min-width: 640px) and (max-width: 1100px) and (orientation: landscape) {
    .gamePrepareView__fields__playersList {
        background-color: #1d1f20;
        border-radius: 0.5em;
        overflow: auto;
        height: 30vh;
        width: 45vw;
        margin: 0.2em;
    }
}

@media screen and (min-width: 360px) and (max-width: 1100px) and (orientation: portrait) {
    .gamePrepareView__fields__playersList {
        background-color: #1d1f20;
        border-radius: 0.5em;
        overflow: auto;
        height: 30vh;
        width: 90vw;
        margin: 0.2em;
    }
}