.canvasView__winDiv {
    background-color: rgba(0, 0, 0, 0.87);
    transition: all .12s;
    z-index: 2;

    text-align: center;
    font-size: calc(16px + 2vh);
    color: white;
    opacity: 0.8;
    border: 0.1em solid transparent;

    position: fixed;
    max-width: 300px;
    padding: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.4em;
    box-shadow: none;
}