.message {
    font-family: "Arial";
    font-size: 1em;
    text-align: center;
    align-self: center;
    position: relative;
    color: #ff8700;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}.back__button {
    background-color: rgba(0, 0, 0, 0.87);
    transition: all .12s;

    text-align: center;
    font-size: calc(16px + 1.5vh);
    color: white;
    opacity: 0.8;
    border: 0.1em solid transparent;
    height: 1em;
    position: fixed;
    max-width: 150px;
    right: 73%;
    top: 3%;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 20em;
    border-radius: 0.4em;
    box-shadow: none;
}

.back__button:focus {
    opacity: 1;
    border: 0.1em solid #ff8700; /* Параметры рамки */
    color: #ff8700;
}

.back__button:hover {
    /*opacity: 1;*/
    /*border: 0.1em solid #ff8700; !* Параметры рамки *!*/
    color: #ff8700;
}
.canv1 {

    /*max-height: 80vh;*/
    position: absolute;
    left: auto;
    top: auto;
    background-image: url(./background2-8bc754cd26eed4f4513e64c7ec343099.png);
}

.canv2 {
    /*max-height: 80vh;*/

    position: absolute;
    left: auto;
    top: auto;
    z-index: 1;
}body {
    /*background: url('../../image/dark-2.jpg');*/
    font-family: "Comic Sans MS";
    background-color: black;
    width: 98%;
    height: 95%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: auto;
}.form-block {
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 280px;
    min-height: 250px;
}

.form-block__input {
    font-family: "Comic Sans MS";
    font-size:calc(12px + 1.5vh);
    color: #ff8700;

    background-color: transparent;
    border: 0.06em solid white;
    border-radius: 0.4em;
    box-shadow: none;

    opacity: 0.8;
    width: 10em;
    height: 1em;
    padding: 0.3em;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    min-height: 30px;
    min-width: 250px;
}

.form-block__input:focus {
    border: 0.06em solid #ff8700; /* Параметры рамки */
}

.form-block__input:hover {
    background: transparent; /* Цвет фона */
    opacity: 1;
    border: 0.06em solid #ff8700 !important; /* Параметры рамки */
}

.form-block__button {
    font-family: "Comic Sans MS";
    color: white;
    display: block;
    width: 10em;
    font-size:calc(12px + 1.5vw);
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.87);
    opacity: 0.8;
    border: 0.05em solid white;
    height: 1.6em;
    /*padding: 0.3em;*/


    min-height: 30px;
    min-width: 250px;

    border-radius: 0.4em;
    box-shadow: none;
    cursor: pointer;

}

.form-block__button:focus {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 1;
    border: 0.1em solid #ff8700 !important; /* Параметры рамки */
}

.form-block__button:hover {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 1;
    border: 0.05em solid white; /* Параметры рамки */
}/*@font-face {*/
    /*font-family: HALLMT_; !* Гарнитура шрифта *!*/
    /*src: url(HALLMT__.TTF); !* Путь к файлу со шрифтом *!*/
/*}*/


.menu__button {
    border: 0.05em solid white;
    font-size:calc(16px + 1.5vh);
    text-align: center;
    opacity: 1;
    width: 10em;
    height: 1.2em;
    padding-top: 0.1em;
    padding-bottom: 0.4em;

    margin-bottom: 0.5em;
    margin-top: 0.5em;
    min-height: 30px;
    min-width: 250px;
    color: white;

    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
    border-radius: 0.4em;
    box-shadow: none;
    /*background-color: rgba(0, 0, 0, 0.87);*/
    background-color: transparent;
    cursor: pointer;
}



.menu__button:focus {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 0.8 !important;
    color: #FF4900 !important;
    border: 0.05em solid #FF4900 !important;
}


.menu__button:hover {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 1;
    color: #ff8700 ; /* Цвет ссылки */
    border: 0.05em solid #ff8700;

    /*border: 0.05em solid #ff8700;*/
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:hover {
    color: black; /* Цвет ссылки */
}section {

    transition: all .12s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 4vh;
    color: #ff8700;

    width: 12em;
    /*height: 3em;*/
    min-width: 300px;
    /*min-height: 250px;*/
    margin: 1.5% auto;
    border-radius: 0.8em;
    border: ridge #ff8700;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*section .button {*/
    /*font-family: "Comic Sans";*/
    /*color: red;*/


    /*text-shadow: darkgray  2px 2px;*/
    /*box-shadow: 10px 5px darkgrey , 12px 7px black;*/
    /*border-radius: 30%;*/

    /*margin-left: 6%;*/
    /*margin-top: 3%;*/
    /*margin-bottom: 10%;*/
    /*padding-bottom: 10%;*/
    /*padding-top: 10%;*/
/*}*//*.form-block {*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

/*.form-block__input {*/
    /*background-color: transparent;*/
    /*border: 0.1em solid #d1d1d1;*/
    /*height: 2em;*/
    /*padding: 0.4em;*/
    /*width: calc(100% - 4em);*/
    /*border-radius: 0.4em;*/
    /*box-shadow: none;*/
/*}*/

/*.form-block__button {*/
    /*background-color: transparent;*/
    /*border: 0.1em chocolate;*/
    /*height: 3em;*/
    /*padding: 0.4em;*/
    /*margin-top: 0em;*/
    /*width: calc(100% - 20em);*/
    /*border-radius: 0.4em;*/
    /*box-shadow: none;*/
    /*background-color: chocolate;*/
/*}*/.hidden {
    opacity: 0;
}

div.profile {
    font-family: cursive;
    font-size:calc(12px + 1.5vh);
    color: #ff8700;
    position: fixed;
    max-width: 300px;
    left: 80%;
    top: 5%;
}


/*штуки стилей плейсхолдеров*/
::-webkit-input-placeholder {
    color: #fff;
    /*font-weight: bold;*/
    font-size:calc(8px + 1.5vh);
}
::-moz-placeholder {
    color: #c0392b;
    font-weight: bold;
}
/* Firefox 19+ */

:-moz-placeholder {
    color: #c0392b;
    font-weight: bold;
}
/* Firefox 18- */

:-ms-input-placeholder {
    color: #c0392b;
    font-weight: bold;
}

::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.6s ease;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}
:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;}



input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

/*Замена автонастроек браузера*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: #ff8700;
}
/*# sourceMappingURL=application.css.map*/