.back__button {
    background-color: rgba(0, 0, 0, 0.87);
    transition: all .12s;

    text-align: center;
    font-size: 1.5em;
    color: white;
    opacity: 0.8;
    border: 0.1em chocolate;
    height: 1em;
    position: fixed;
    max-width: 300px;
    right: 75%;
    top: 5%;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 20em;
    border-radius: 0.4em;
    box-shadow: none;
}

.back__button:focus {
    opacity: 1;
    border: 0.1em solid #ff8700; /* Параметры рамки */
    color: #ff8700;
}

.back__button:hover {
    /*opacity: 1;*/
    /*border: 0.1em solid #ff8700; !* Параметры рамки *!*/
    color: #ff8700;
}
