.canv1 {

    /*max-height: 80vh;*/
    position: absolute;
    left: auto;
    top: auto;
    background-image: url("../../image/background2.png");
}

.canv2 {
    /*max-height: 80vh;*/

    position: absolute;
    left: auto;
    top: auto;
    z-index: 1;
}

.winDiv {
    background-color: rgba(0, 0, 0, 0.87);
    transition: all .12s;

    text-align: center;
    font-size: calc(16px + 2vh);
    color: white;
    opacity: 0.8;
    border: 0.1em solid transparent;
    height: 1em;
    position: fixed;
    max-width: 150px;
    right: 50%;
    top: 50%;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 20em;
    border-radius: 0.4em;
    box-shadow: none;
}