body {
    background: url('../../image/dark-2.jpg');
    background-color: burlywood;
    width: 98%;
    height: 95%;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}