body {
    background: url('../../image/dark-2.jpg');
    background-color: black;
    width: 98%;
    height: 95%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: auto;
}