.menu__button {
    border: 0.1em transparent;
    font-size: 12px;
    opacity: 0.9;
    height: 3em;
    padding: 0.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 5em;
    border-radius: 0.4em;
    box-shadow: none;
    background-color: rgb(111, 43, 8);
    cursor: pointer;
}

.menu__button:focus {
    background: #8b2b03; /* Цвет фона */
    opacity: 1;
}
