.menu__button {
    border: 0.1em chocolate;
    height: 3em;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 5em;
    border-radius: 0.4em;
    box-shadow: none;
    background-color: chocolate;
}