body {
    /*background: url('../../image/dark-2.jpg');*/
    font-family: "Comic Sans MS";
    background-color: black;
    width: 98%;
    height: 95%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.message {
font-family: "Arial";
font-size: 1em;
text-align: center;
align-self: center;
position: relative;
color: #ff8700;
margin-left: 20%;
margin-right: 20%;
width: 10em;
}

.hidden {
    opacity: 0;
}

div.profile {
    font-family: cursive;
    font-size:calc(20px + 2vh);
    color: #ff8700;
    position: fixed;
    max-width: 300px;
    left: 80%;
    top: 5%;
}


