.lobbyView__lobbyFields__gameList {
    box-sizing: border-box;
    /*background-color: #bdbdbd24;*/
    border-radius: 0.4em;
    overflow: auto;
    height: 50vh;
}

.lobbyView__lobbyFields__header {
    text-align: center;
}

.lobbyView__lobbyFields__createGame {
    margin: 0.5em auto !important;
}

.lobbyView__lobbyFields {
    margin: 0.4em;
}

