.gamePrepareView__fields__playersList__string {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-areas: "place1 place2 place3";

}


@media screen and (min-width: 360px) and (max-width: 1100px) and (orientation: landscape) {
    .gamePrepareView__fields__playersList__string {
        grid-template-columns: 15vw 15vw 15vw;

    }
}

@media screen and (min-width: 360px) and (max-width: 1100px) and (orientation: portrait) {
    .gamePrepareView__fields__playersList__string {
        grid-template-columns: 30vw 30vw 30vw;
    }
}

.gamePrepareView__fields__playersList__string > .gamePrepareView__fields__playersList__string__userId {
    grid-area: place1;
}

.gamePrepareView__fields__playersList__string > .gamePrepareView__fields__playersList__string__username {
    grid-area: place2;
}

.gamePrepareView__fields__playersList__string > .gamePrepareView__fields__playersList__string__userEmail {
    grid-area: place3;
}
