/*бэкграунд для секций меню*/
body {
    background: url('../image/background_wood_2.jpg');
    background-color: burlywood;
    width: 98%;
    height: 95%;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

/*.application-header {*/
    /*font-family: fantasy;*/
    /*font-size: 100px;*/
    /*position: relative;*/
    /*width: 50%;*/
    /*margin-left: 27%;*/
    /*min-width: 300px;*/
/*}*/

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 30%;
    min-width: 300px;
    margin: 1.5% auto;
    border-radius:5%;
    border: ridge black;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*.section_title {*/
    /*font-family: fantasy;*/
    /*position: relative;*/
    /*margin-left: 20%;*/
    /*margin-right: 20%;*/
    /*width: 60%;*/
    /*align-self: center;*/
/*}*/



