.form__button {
    font-family: "Comic Sans MS";
    background-color: transparent;
    color: #00d8ff;
    display: block;
    width: 10em;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    opacity: 1;
    border-radius: 0.4em;
    border-style: solid;
    /*padding: 0.3em;*/

    min-width: 250px;

    box-shadow: none;
    cursor: pointer;

    transition: transform 0.1s ease;
}


@media screen and (min-width: 360px) and (max-width: 1200px) {
    .form__button {
        font-size: 24px;
        min-height: 30px;
        min-width: 0;
    }
}
.form__button:focus {
    /*background: #8b2b03; !* Цвет фона *!*/
    color: white !important;
    outline: none;
    border-color: white !important;
}

.form__button:hover {
    /*background: #8b2b03; !* Цвет фона *!*/
    transform: scale(1.01);
    background-color: #00072791;
    opacity: 1;
    color: #00fbff;
    border-color: #00fbff; /* Параметры рамки */
}