.form__button {
    font-family: "Comic Sans MS";
    background-color: transparent;
    display: block;
    width: 10em;
    font-size:calc(14px + 1.5vh);
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    opacity: 1;
    border-radius: 0.4em;
    border-style: solid;
    height: 1.6em;
    /*padding: 0.3em;*/

    min-height: 30px;
    min-width: 250px;

    box-shadow: none;
    cursor: pointer;

}


@media screen and (min-width: 360px) and (max-width: 1200px) {
    .form__button {
        font-size: calc(14px + 1vh);
        min-height: 30px;
        min-width: 0;
    }
}
.form__button:focus {
    /*background: #8b2b03; !* Цвет фона *!*/
    outline: none;
    opacity: 1;
    border-color: #FF4900 !important; /* Параметры рамки */
}

.form__button:hover {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 1;
    color: #ff8700;
    border-color: #ff8700; /* Параметры рамки */
}