.form__button {
    font-family: "Comic Sans MS";
    color: white;
    display: block;
    width: 10em;
    font-size:calc(14px + 1.5vh);
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.87);
    opacity: 1;
    border: 0.05em solid white;
    height: 1.6em;
    /*padding: 0.3em;*/

    min-height: 30px;
    min-width: 250px;

    border-radius: 0.4em;
    box-shadow: none;
    cursor: pointer;

}

.form__button:focus {
    /*background: #8b2b03; !* Цвет фона *!*/
    outline: none;
    opacity: 1;
    border: 0.1em solid #ff8700 !important; /* Параметры рамки */
}

.form__button:hover {
    /*background: #8b2b03; !* Цвет фона *!*/
    opacity: 1;
    border: 0.05em solid white; /* Параметры рамки */
}