body {
    /*background: url('../../image/dark-2.jpg');*/
    font-family: "Comic Sans MS";
    background-color: black;
    width: 98%;
    height: 95%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.hidden {
    opacity: 0;
}