/*@viewport {*/
/*width: device-width;*/
/*height: device-height;*/
/*zoom: 1;*/
/*max-zoom: 1;*/
/*min-zoom: 1;*/
/*user-zoom: fixed;*/
/*orientation: landscape;*/
/*}*/
@font-face {
    font-family: Guardians; /* Гарнитура шрифта */
    src: url(../../public/fonts/Guardians.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Road_Rage; /* Гарнитура шрифта */
    src: url(../../public/fonts/Road_Rage.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: RobotoRegular; /* Гарнитура шрифта */
    src: url(../../public/fonts/roboto.ttf); /* Путь к файлу со шрифтом */
}

body {
    /*background: black url(../../public/images/galaxy.jpg) no-repeat;*/
    background-color: black;
    background-size: cover;
    font-family: Road_Rage, "Comic Sans MS";
    box-sizing: border-box;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

main {
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-template-areas: "place1 place2 place3" "place4 place5 place6" "place7 place8 place9";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 100px auto;
    transition: filter 0.1s;
    transition-delay: 0s;
}

@media screen and (min-width: 640px) and (max-width: 1100px) and (orientation: landscape) {
    @viewport {
        min-width: 360px;
        max-zoom: 2;
        orientation: portrait;
    }

    main {
        display: grid;
        grid-template-areas: "place1 place2 place3" "place4 place5 place6" "place7 place8 place9";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 6vh 10vh auto;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
    @viewport {
        min-width: 360px;
        max-zoom: 1;
        orientation: portrait;
    }

    main {
        grid-template-areas: "place1 place2 place3" "place4 place5 place6" "place8 place8 place8";
        grid-template-rows: 6vw 10vw auto;
        grid-template-columns: 2fr 3fr 2fr;
    }

}

main > .gameName {
    grid-area: place2;
}

main > .profileView {
    grid-area: place3;
}

main > .themeButtonView {
    grid-area: place6;
}

main > .backMenuButtonView {
    grid-area: place4;
}

main > .backButtonView {
    grid-area: place4;
}

main > .view {
    grid-area: place8;
}

main > .treeView {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

main > .validationInfo {
    grid-area: place5;
}

/*main > .gamePrepareView {*/
    /*grid-column: 2;*/
    /*grid-row: 2 / 3;*/
/*}*/


.waiting {
    filter: brightness(40%);
}


.hidden {
    opacity: 0;
}



