section .button {
    font-family: cursive;
    font-size: 250%;
    text-shadow: darkgray  2px 2px;
    box-shadow: 10px 5px darkgrey , 12px 7px black;
    border-radius: 30%;
    width: 86%;
    height: 80%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: ridge black;
}