.lobbyView__lobbyFields__gameDataField__fields {
    font-size: calc(14px + 0.3vh) !important;
    margin: 0.1em;
}

.lobbyView__lobbyFields__gameDataField__fields__playButton {
    background-color: #00537d !important;
    margin: auto !important;
}

.lobbyView__lobbyFields__gameDataField__fields__playButton:hover {
    border-color: #ff8700 !important;
}