.animation {
  animation: rotation 1.5s cubic-bezier(0.57, -0.51, 0.49, 1.6);
  animation-iteration-count: infinite;
}

.opacityAnimation {
  animation: opacityOff 0.5s ease-in-out;
}


@keyframes rotation {
  0% {
     transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}