.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    font-size:calc(14px + 1.5vh);
    margin: 1.5% auto;
    padding-top: 1%;
    padding-bottom: 1%;
}