.gamePrepareView__fields__header__fields {
    display: inline-block;
    font-size: calc(14px + 0.3vh) !important;
    color: white;
    margin: 0.1em;
}


@media screen and (min-width: 360px) and (max-width: 1100px) {
    .gamePrepareView__fields__header__fields {
        display: inline-block;
        font-size: calc(12px) !important;
        padding: 0.1em;
    }
}
