.view__view-button {
    box-sizing: border-box;
    font-size:calc(14px + 1.5vh);
    text-align: center;
    opacity: 1;
    width: 10em;
    padding: 0.1em;

    margin: 0.7em;
    min-width: 260px;

    border-radius: 0.4em;
    box-shadow: none;

    border-width: 0.04em;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    transition: all .1s;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .view__view-button {
        font-size: calc(14px + 2vh);
        width: 8em;
        margin: 0.4em;
        min-width: 0;
    }
}

.view__view-button:focus {
    outline: none;
    opacity: 0.8 !important;
    color: #FF4900 !important;
    border: 0.04em solid #FF4900 !important;
}


.view__view-button:hover {
    opacity: 1;
    color: #ff8700 ; /* Цвет ссылки */
    border: 0.04em solid #ff8700;
}

A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:hover {
    color: black; /* Цвет ссылки */
}