div(class='rulesViewText')
    p The rules of the game are very simple. You have two variants of the move with your figure:
    p 1) On the next cell. Then your figure that you were like was cloned
    p 2) Through the cell. Then your figure moves to this cell
    p When you come into contact with an enemy figure, it becomes yours. The one who has more figures wins.

